<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    
      <headaer>
      <nav>
        {%if user.is_authenticated%}
        <a href="{% url 'home' %}">Home Page</a>
       
        <a href="{% url 'create'%}">Create a Receipt</a>
        <a href="{% url 'accounts/create'%}">Create a Account</a>
        <a href="{% url "categories/create"%}">Create Expense</a>
        <a href="{% url 'accounts/list'%}">Accounts List</a>
       
        <a href="{% url "categories/list"%}">Expense List</a>
        <a href="{% url 'logout' %}">Log Out</a> 
        {%else%}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Log In</a>
        {%endif%}
      </nav>
    </header>
    <main>
    {% block content %} {% endblock content %}
    </main>
  </body>
</html>
